.box-style{
     width: 300px;
     height: 300px;
     display: inline-block;
}
.box-1{
    
     background-color: blueviolet;
     /*grosor del borde, tipo de porde*/
     border:  2px solid rgb(64,64, 64)
}
.box-2{
      border:1px dotted violet;
}
.box-3{
      border: 5px dashed blueviolet;
}
.box-4{

}