h1 {
    text-align: center;
}
 th, td {
    border: 1px solid rgb(24, 24, 24); 
    border-collapse: collapse;   
}
.table-box{
    display: flex;
    justify-content: center;
}

table {
    padding: 10px 15px;
    font-size: 2.2em;
}
.img-check{
    width: 50px;
    display: block;
    margin: auto;
    
}
.col-style{
    width: 150px;

}
.logo-equis{
    width: 50px;
    display: block;
    margin: auto;
}
.color-fam{
    background-color:rgb(255, 120, 13)
   }

.color-bron {
    background-color: rgb(226, 177, 43);
}
.color-gold {
    background-color: rgb(226, 110, 43);
}
.color-plat{
    background-color: rgb(226, 183, 43);

}
.col-arow{
   background-color: rgb(127, 146, 255);
}

